* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.edu-info,.contact-info{
    padding-top: 10px;
}
.contact-info li,.edu-info li {
    display: inline;
}
li {
    list-style: none;
}
p{
    margin-top:8px;
    color: #6e6e6e;
}
body {
    background-color: #525659;
    padding: 60px;
}
.page {
    width: 1024px;
    min-height: 1440px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}
h1 {
    font-size: 48px;
    letter-spacing: 5px;
}
.page .header {
    position: relative;
    background-color: #5c7bd9;
    color: #ffffff;
    padding: 10px 50px;
}
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
.page img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.page .content {
    background-color: #fff;
    flex-grow: 1;
    padding: 10px 50px;
}
.header-job {
    position: absolute;
    right: 50px;
    top: 20px;
    display: flex;
    justify-content: space-between;
}
.header-job h2 {
    padding-top: 10px;
    padding-right: 10px;
}
.content h3{
    color: #333333;
}
#echarts {
    display: inline;
}
.content-skills {
    display: flex;
    justify-content: space-between;
}
.content-skills .skills-description li {
    padding: 6px;
    list-style: none;
    width: 500px;
}
h3, span {
    padding-top: 16px;
}
.content-projects, .content-skills, .content-demos, .link, .edu {
    margin-top: 16px;
}
header {
    display: flex;
    justify-content: space-between;
}
a {
    color: #5c7bd9;
}