*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contact-info li{
    display: inline;
    list-style: none;
}
body{
    background-color: #525659;
    padding:60px ;
}

.page{
    width: 1024px;
    min-height: 1440px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}
.page header{
    position: relative;
    background-color: #689ff5;
    color: #ffffff;
    padding: 10px 50px;
}
.page img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
}
.page .content{
    background-color: #fff;
    flex-grow: 1;
    padding: 10px 50px;
}